.news-ZHANDOU-SHUANG {
  animation: a-news-ZHANDOU-SHUANG 1s infinite cubic-bezier(1,0,1,-0.7);
}

@keyframes a-news-ZHANDOU-SHUANG {
  0% {
    color: #7cdcf4;
    font-size: 3rem;
  }
  20% {
    color: greenyellow;
  }
  40% {
    color: #c35ee7;
  }
  50% {
    font-size: 1rem;
  }
  60% {
    color: #943430;
  }
  80% {
    color: #bbb516;
  }
  100% {
    color: #7cdcf4;
    font-size: 3rem;
  }
}