@keyframes a-op-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slow-show {
  animation: a-op-up 0.5s linear;
  animation-fill-mode: both;
}
.fast-show {
  animation: a-op-up 0.1s linear;
  animation-fill-mode: both;
}