.gameUnit {
  position: relative;
  padding: 2px;
  color: #b8dcee;
}

.medium-size {
  /*min-width: 200px;*/
  /*max-width: 250px;*/
  width: var(--medium-width);
}

.gameUnit-popout {
  opacity: 0;
  min-width: 75%;
  max-width: 120%;
  position: absolute;
  transform: translate(-50%, 4px);
  transition: opacity 0.2s linear;
  left: 50%;
  top: 100%;
  z-index: 10;
  background-image: var(--bgi);
  padding: 4px;
  pointer-events: none;
}

.gameUnit:hover > .gameUnit-popout {
  opacity: 1;
  pointer-events: all;
}
@media (min-width: 1600px) {
  .gameUnit-contain {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .gameUnit-contain {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1199px) {
  .gameUnit-contain {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gameUnit-contain {
  display: grid;
  gap: 5px;
  padding: 2px;

}

.gameUnit-contain > .gameUnit {
  width: calc(100% - 10px);
  min-height: 10vh;
}

.border1-top {
  border-top: 1px solid var(--border-color);
}

.border1-bottom {
  border-bottom: 1px solid var(--border-color);
}

.border2-top {
  border-top: 2px solid var(--border-color);
}

.btn {
  cursor: pointer;
}
.btn-good {
  cursor: pointer;
  background-color: var(--color-good);
}

.btn-disabled {
  cursor: not-allowed;
}
.max-modal {
  width: 60vw;
  height: 70vh;
}